.card-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  .card {
    flex: 1 1 45%;
    background-color: #f0f1f4;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    border-radius: 10px;
    .card-inner {
      padding: 30px;
      text-align: center;
      .card-country {
        font-size: 22px;
        margin-bottom: 10px;
        text-align: center;
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,

          rgba(0, 212, 255, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .country-population {
        color: #7a7a7a;
        margin-bottom: 30px;
      }
      .card-matches {
        font-size: 18px;
        margin-bottom: 15px;
        margin-bottom: 20px;
        .match-name {
          margin-bottom: 20px;
          background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 37%,
            rgba(0, 0, 0, 1) 69%,
            rgba(0, 212, 255, 1) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .card-events {
          display: flex;
          justify-content: center;
          gap: 30px;
          font-size: 18px;
          color: #7a7a7a;
          .card-event {
            font-size: 14px;
            .event-name {
              text-decoration: underline;
              font-size: 16px;
              margin-bottom: 15px;
            }
            .event-minute {
              margin-bottom: 7px;
            }
            .event-team {
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }
}
